@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Darker+Grotesque:wght@300..900&family=Jersey+15&family=Jura:wght@300..700&display=swap');


$default-fonts: "Jura", sans-serif;
$default-fonts-weight: 400;
$default-font-style: normal;
